<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>cag</id>
	<name>Community ART Groups Module</name>
	<version>1.0.2-SNAPSHOT</version>
	<package>org.openmrs.module.cag</package>
	<author>ICAP</author>
	<description>
		Manages patients' Community ART Groups data
	</description>

	<activator>org.openmrs.module.cag.CagActivator</activator>

	<!-- <updateURL>https://modules.openmrs.org/modules/download/cag/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>1.11.6</require_version>

	<!-- Extensions -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>org.openmrs.module.cag.extension.html.AdminList</class>
	</extension>

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
		<aware_of_module version="1.24.5">org.openmrs.module.emrapi</aware_of_module>
		<aware_of_module version="1.16.0">org.openmrs.module.reporting</aware_of_module>
		<aware_of_module version="0.2.12">org.openmrs.module.emrapi-api-1.12</aware_of_module>
		<aware_of_module version="2.5.0">org.openmrs.module.providermanagement</aware_of_module>
		<aware_of_module version="1.2">org.openmrs.calculation</aware_of_module>
	</aware_of_modules>

	<require_modules>
		<require_module version="2.32.0">org.openmrs.module.webservices.rest</require_module>
	</require_modules>

	<webservices>
		<rest>
			<version>1.0</version>
			<!--			<resource>org.openmrs.module.mymodule.api.rest.CagResource</resource>-->
			<resource>org.openmrs.module.cag.web.resource.CagResource</resource>
			<resource>org.openmrs.module.cag.web.resource.CagPatientResource</resource>
			<resource>org.openmrs.module.cag.web.resource.CagVisitResource</resource>
			<resource>org.openmrs.module.cag.web.resource.CagEncounterResource</resource>
		</rest>
	</webservices>



	<!-- AOP
	<advice>
		<point>org.openmrs.api.FormService</point>
		<class>org.openmrs.module.cag.advice.DuplicateFormAdvisor</class>
	</advice>
	 /AOP -->


	<!-- Required Privileges
	<privilege>
		<name>Form Entry</name>
		<description>Allows user to access Form Entry pages/functions</description>
	</privilege>
	 /Required Privileges -->


	<!-- Required Global Properties
	<globalProperty>
		<property>cag.someProperty</property>
		<defaultValue></defaultValue>
		<description>
			A description of the global property goes here.  The description
			should explain enough for administrators to understand the purpose
			and possible values for the global property.
		</description>
	</globalProperty>
	/Required Global Properties -->

	<!--
	<dwr>
		<allow>
			<create creator="new" javascript="DWRFormEntryService">
				<param name="class" value="org.openmrs.module.cag.web.DWRFormEntryService"/>
				<include method="enterForm"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
			import org.openmrs.module.cag.web.DWRFormEntryService;
			DWRFormEntryService.enterForm(Integer patientId, Integer formId, boolean useEncounter, List<String> fields);
			]]>
		</signatures>
	</dwr>
	-->

	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/<moduleId>/<servlet-name>
	<servlet>
		<servlet-name>formDownload</servlet-name>
		<servlet-class>org.openmrs.module.cag.web.FormDownloadServlet</servlet-class>
	</servlet>
	-->
	<!-- /Servlets -->


	<!-- Internationalization -->
	<!-- All message codes should start with cag.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

</module>

